body{
	background-color : A3BCC6;
	text-align: center;
}
div>button {
    line-height: 12px;
    width: 100px;
	height: 30px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
	top:0;
    right:0;
}
h1{
	text-align: center;
	font-size: 300%;
}
h2{
	text-align: center;
	padding: 10;
}
p{
	background-color : red;
	font-family: courier;
}

ul{
	text-align: center;
	padding-left: 750px;
}
li{
	text-align: left;
}

#edu:hover{
	color:red;
}
#edu:hover + #eduli{
	color: red;
	
}