body{
	background-color : A3BCC6;
	text-align: center;
}

h1{
	text-align: center;
	font-size: 300%;
}
h2{
	text-align: center;
	padding: 10;
}
p{
	background-color : red;
	font-family: courier;
}

ul{
	text-align: center;
	padding-left: 750px;
}
li{
	text-align: left;
}